/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #FFFEF8;
	height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body .body-contenu {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

nav a {
    text-decoration: none;
    color: #000;
}


nav a:visited {
    color: #000;
	font-weight: bold;
}

nav a:hover {
	color: #B1663C;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.style-menu {
    display: flex;
	justify-content: center;
	margin-bottom: 2em;
}

.bouton-filtre {
	font-family: 'Syne';
	padding: 10px 15px;
	margin: 5px;
	border: solid #1D6154 1px;
    border-radius: 50px;
	background-color: white;
	cursor: pointer;
  }

.bouton-filtre-actif {
	color: white;
	background-color: #1D6154;
  }
  
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.footer-block {
	width: 100%;
	height: 60px;
	background-color: white;
}

footer ul {
	display: flex;
	justify-content: flex-end;
	width: 95%;
	padding-top: 25px;
	font-family: 'Work Sans';
	text-decoration: none;
}

/****** login.html ***********/

#login {
	width: 50%;
	margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.link {
	text-align: center;
}
.link,
.link:visited,
.link:hover,
.link:active {
  color: #3D3D3D;
}
body .body-contenu-login {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
	height: 100vh;
}
body header {
	margin-bottom: 100px;
}
.error {
    border: 2px solid red;
    background-color: #ffcccc;
}

/* Bannière */
.mode-banner {
	display: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}

.edit-mode, .mode-banner i {
    color: white;
    display: inline-block;
    vertical-align: middle;
}

.edit-mode-icon {
    margin-right: 8px;
    vertical-align: middle;
}

.text-banner {
    margin-left: 8px;
	font-family: 'Work Sans';
	font-size: 16px;
}

.mode-banner i, .mode-banner .text-banner {
    vertical-align: middle;
}

.edit-mode-inline .fa-regular {
    font-size: 15.58px;
    height: 15.58px;
    width: 15.58px;
    vertical-align: middle;
	margin-left: 15px;
	margin-right: 8px;
}

.edit-mode-inline .text-banner-inline {
    font-size: 14px;
    vertical-align: middle;
	font-weight: 400;
}

/* Modal */

/*.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
  }
  

  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 630px;
	height: 688px;
	background-color: white;
	z-index: 1001;
	padding: 20px;;
  }
  
  
  .modal-contenu {
	position: relative;
  }
  
  
  .fa-xmark {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	color: #333;
  }
  
  
  .modal .gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }
  
  .modal .gallery img {
	margin-bottom: 10px;
  }
  
  
  .modal .fa-trash-can {
	position: absolute;
	top: -10px;
	right: -10px;
	cursor: pointer;
	background-color: white;
  }
  
  
  .modal input[type="submit"] {
	display: block;
	margin: 20px auto;
	padding: 10px 20px;
	font-family: 'Syne', sans-serif;
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	border: none;
	border-radius: 50px;
	cursor: pointer;
  }
  
  
  .ligne-style {
	border-top: 1px solid #eee;
	margin: 20px 0;
  }
  
  
  .modal p {
	text-align: center;
	font-size: 1.2rem;
	margin: 20px 0;
  }




